@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

[class*=__container] {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: blue;
  text-decoration: none;
  transition-duration: 0.8s;
}

a:hover {
  color: magenta;
}

a:active {
  color: green;
}

.button {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(80, 80, 117);
  transition-duration: 0.8s;
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.button:hover {
  background-color: lightBlue;
}

.button:active {
  background-color: rgb(16, 77, 97);
}

h1 {
  font-size: 48px;
}
@media (max-width: 1200px) {
  h1 {
    font-size: 45.1428571429px;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 42.2857142857px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 39.4285714286px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 36.5714285714px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 33.7142857143px;
  }
}
@media (max-width: 360px) {
  h1 {
    font-size: 30.8571428571px;
  }
}
@media (max-width: 320px) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  font-size: 36px;
}
@media (max-width: 1200px) {
  h2 {
    font-size: 33.7142857143px;
  }
}
@media (max-width: 992px) {
  h2 {
    font-size: 31.4285714286px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 29.1428571429px;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 26.8571428571px;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 24.5714285714px;
  }
}
@media (max-width: 360px) {
  h2 {
    font-size: 22.2857142857px;
  }
}
@media (max-width: 320px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-size: 30px;
}
@media (max-width: 1200px) {
  h3 {
    font-size: 28.2857142857px;
  }
}
@media (max-width: 992px) {
  h3 {
    font-size: 26.5714285714px;
  }
}
@media (max-width: 768px) {
  h3 {
    font-size: 24.8571428571px;
  }
}
@media (max-width: 576px) {
  h3 {
    font-size: 23.1428571429px;
  }
}
@media (max-width: 480px) {
  h3 {
    font-size: 21.4285714286px;
  }
}
@media (max-width: 360px) {
  h3 {
    font-size: 19.7142857143px;
  }
}
@media (max-width: 320px) {
  h3 {
    font-size: 18px;
  }
}

html {
  line-height: 1.5;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0;
}

ol, ul {
  padding-left: 20px;
}
ol li:not(:last-child), ul li:not(:last-child) {
  padding-bottom: 15px;
}

.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.8s;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

/* Стилі для модального вікна, коли воно активно */
:target.modal {
  display: flex;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  max-width: 500px;
  width: 100%;
}

/* Стилі для кнопки закриття */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: #000;
  font-size: 24px;
}

/* Стилі для кнопки закриття overlay */
.close-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
}