// Базові функції шаблону.

// Функція для перетворення px в rem.

@function toRem($px, $current: 16) {
    @return ($px / $current) * 1rem;
}


// Функція для перетворення px в em.
@function toRem($px, $current: 16) {
    @return ($px / $current) * 1em;
}

// Функція адаптивної одиниці властивості
// В ній можна налаштувати коефіцієнт зменшення на кожному брекпоїнті, і брекпоїнти теж можна налаштувати
@mixin adaptiveValue($property, $largeScreenValue, $smallScreenValue) {
    #{$property}: #{$largeScreenValue};

    $breakpoints: (1200px, 992px, 768px, 576px);
    $scaling-factor: 0.85; // 15% зменшення

    $current-value: $largeScreenValue;

    @each $breakpoint in $breakpoints {
        $current-value: $current-value * $scaling-factor;

        @media (max-width: $breakpoint) {
            #{$property}: $current-value;
        }
    }
}
